body{
    background-color: rgb(249, 150, 75);
}

h1{
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline;
    font-style: italic;
    font-size: 80px;
    margin-bottom: 100px;
}


#Formulaire{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}

footer{
    border: 2px solid rgb(97, 3, 3);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    font-style: italic;
    font-weight: bold ;
    margin-top: 100px;
}